div{
    
    font-size: x-large;
    

    

    }
    


.toast{
    text-align: center;
    background-color: darkturquoise;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding-bottom: 7px;
    padding-top: 10px;
    margin-top: auto;
}

#french{
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px;
    padding-top: 0%;
    margin-top: auto;
}
    




.body{
    background-color: darkgrey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 70px, 30px, 50px, 30px;
}
#meatflow{
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}